* {
	margin: 0px;
}

#left {
	float: left;
	width: 50%;
	height: 100%;
}

#right {
	float: right;
	width: 50%;
	height: 100%;
}

a {
	text-decoration: none;
	color: #ffffff;
}

#name {
	background-color: #272822;
	color: #ffffff;
	font-family: "Supermercado One", cursive;
	font-size: 45px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#tagLine {
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "Supermercado One", cursive;
	text-align: center;
}

#topMenu {
	background-color: #272822;
	text-align: center;
}

.guide {
	color: #ffffff;
	font-size: 30px;
	font-family: "Supermercado One", cursive;	
	text-decoration: none;
	display: inline;
	padding: 50px;

}

#special {
	font-size: 25px;
}

#today {
	background-color: #000000;
	color: #ffffff;
	font-family: "Supermercado One", cursive;
	border: 2px;
	text-align: center;
	padding: 10px;
}

.specialTitle {
	font-size: 45px;
}

.gifs {
	width: 100%;
}

#menu {
	color: white;
	font-family: "VT323", monospace;
	background-color: #272822;
	height: 100%;
	border: 1px;
}
.sectionTitle {
	font-size: 50px;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}

.pizza {
	background-color: #272822;
	padding: 2px;
	border: 8px solid #6c6d69;
}

.pizzaName {
	/*color: #f92672;*/
	font-size: 45px;
}

.codeRed {
	color: #f92672;
}

.codeWhite {
	color: #ffffff;
}

.codeGreen {
	color: #a6e22e;
}

.description {
	font-size: 25px;
}

.price {
	font-size: 25px;
}

.pizzaImage {
	width: 70%;
}

#subscribe {
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "VT323", monospace;
	font-size: 20px;
}

#visit {
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "VT323", monospace;
}

#deal {
	font-size: 30px; 
}

.getItFresh {
	font-family: "VT323", monospace;
		color: white;
	background-color: #272822;
	border: 1px;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
	font-weight: normal;

}

.rightBorder {
	background-color: #272822;
	padding: 2px;
	border: 8px solid #6c6d69;
}

#footer {
	width: 100%;
	float: left;
	font-size: 15px;
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "VT323", monospace;
	padding-left: 20px;
	height: 400px;
}



#credit {
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "VT323", monospace;
	padding-left: 20px;
}

#copyright {
	background-color: #6c6d69;
	color: #ffffff;
	font-family: "VT323", monospace;
	height: 70px;
}